<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_stand_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{516,452}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,55},{516,452}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_stand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{516,452}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,55},{516,452}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walkDown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1038},{388,492}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,12},{388,492}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walkDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1038},{388,502}}</string>
                <key>offset</key>
                <string>{34,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,17},{388,502}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walkDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1478},{388,508}}</string>
                <key>offset</key>
                <string>{34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,8},{388,508}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walkUp_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1374},{352,488}}</string>
                <key>offset</key>
                <string>{52,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,28},{352,488}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walkUp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1428},{352,500}}</string>
                <key>offset</key>
                <string>{52,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,28},{352,500}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walkUp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1020},{352,498}}</string>
                <key>offset</key>
                <string>{52,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,27},{352,498}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{568,514}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{568,514}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{572,504}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{572,504}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,518},{566,500}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{566,500}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{568,520}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{568,520}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{568,514}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{568,514}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
            <key>cat_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,524},{560,512}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{560,512}}</string>
                <key>sourceSize</key>
                <string>{576,530}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae8118dc1192a4f8c5ef14bf99c3baf6:50a0a202d2deebe18ce816f9596b8ba8:fcaa38ab3073044ae7fc86ca051af0c0$</string>
            <key>textureFileName</key>
            <string>cat.png</string>
        </dict>
    </dict>
</plist>
