<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AirPortAtheros</string>
	<key>CFBundleGetInfoString</key>
	<string>4.2.3, Copyright © 2006–2009 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AirPort.Atheros</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AirPortAtheros</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>423.19.10</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Atheros Wireless LAN PCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AirPort.Atheros</string>
			<key>IOClass</key>
			<string>AirPort_AthrFusion</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>pci106b,0086</string>
				<string>pci168c,1c</string>
				<string>pci168c,23</string>
				<string>pci168c,24</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IO80211Family</key>
		<string>300.0</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.6.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
</dict>
</plist>
