<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RTL8192SUs</string>
	<key>CFBundleGetInfoString</key>
	<string>106.1079.01272011, Copyright © Realtek Inc.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.realtek.driver.RTL8192SU</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1079</string>
	<key>CFBundleSignature</key>
	<string>realtek</string>
	<key>CFBundleVersion</key>
	<string>1079</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ASUSTek_1786</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>6022</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>ASUSTek_1791</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>6033</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Amigo</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>36961</integer>
			<key>idVendor</key>
			<integer>3760</integer>
		</dict>
		<key>AzureWave_3306</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13062</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3309</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13065</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3310</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13072</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3311(BG)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13073</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3323</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13091</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3325</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13093</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3333</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13107</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3334</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13108</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3339</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13113</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3336(BG)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13110</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3340(BG)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13120</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3342(BG)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13122</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3335(BG)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13109</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AzureWave_3341(BG)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13121</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Belkin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33119</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>BelkinB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>37978</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>BelkinC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33882</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>CG-WLUSB300NM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>81</integer>
			<key>idVendor</key>
			<integer>1962</integer>
		</dict>
		<key>CG-WLUSBNM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>71</integer>
			<key>idVendor</key>
			<integer>1962</integer>
		</dict>
		<key>Dlink DWA-130C2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13058</integer>
			<key>idVendor</key>
			<integer>2001</integer>
		</dict>
		<key>Dlink DWA-130E1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13056</integer>
			<key>idVendor</key>
			<integer>2001</integer>
		</dict>
		<key>Dlink DWA-131A1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13059</integer>
			<key>idVendor</key>
			<integer>2001</integer>
		</dict>
		<key>Dlink DWL-G122_07D1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13062</integer>
			<key>idVendor</key>
			<integer>2001</integer>
		</dict>
		<key>Dlink DWL-G122_2001</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13062</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>Dlink DWA-130-1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13056</integer>
			<key>idVendor</key>
			<integer>5298</integer>
		</dict>
		<key>Dlink DWA-130-2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13057</integer>
			<key>idVendor</key>
			<integer>5298</integer>
		</dict>
		<key>Dlink DWA-130-3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13058</integer>
			<key>idVendor</key>
			<integer>5298</integer>
		</dict>
		<key>Edimax_7611</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>30225</integer>
			<key>idVendor</key>
			<integer>29586</integer>
		</dict>
		<key>Edimax_7612</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>30226</integer>
			<key>idVendor</key>
			<integer>29586</integer>
		</dict>
		<key>Edimax_7622</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>30242</integer>
			<key>idVendor</key>
			<integer>29586</integer>
		</dict>
		<key>EnGenius_1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>38403</integer>
			<key>idVendor</key>
			<integer>5952</integer>
		</dict>
		<key>EnGenius_2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>38405</integer>
			<key>idVendor</key>
			<integer>5952</integer>
		</dict>
		<key>Hercules_N_Mini</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>57393</integer>
			<key>idVendor</key>
			<integer>1784</integer>
		</dict>
		<key>Hercules_N_LB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>57396</integer>
			<key>idVendor</key>
			<integer>1784</integer>
		</dict>
		<key>Hercules_G_Mini</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>57394</integer>
			<key>idVendor</key>
			<integer>1784</integer>
		</dict>
		<key>HawkingG</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>22</integer>
			<key>idVendor</key>
			<integer>3686</integer>
		</dict>
		<key>HawkingN</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>21</integer>
			<key>idVendor</key>
			<integer>3686</integer>
		</dict>
		<key>Logitec</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>359</integer>
			<key>idVendor</key>
			<integer>1929</integer>
		</dict>
		<key>NEC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>694</integer>
			<key>idVendor</key>
			<integer>1033</integer>
		</dict>
		<key>RTL8188SU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33137</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188SU_0752</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>1874</integer>
			<key>idVendor</key>
			<integer>5776</integer>
		</dict>
		<key>RTL8191SU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33138</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8192GU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33139</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8192SU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33140</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8192SU_8175(BG)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33141</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8712</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>34578</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188SU_C047</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>49223</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>Sitecom_WL349v3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>75</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WL352v3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>76</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WL353</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>69</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WL356</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>73</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WL349v2_001</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>87</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WL352v2_001</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>88</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WL608v3_001</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>89</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WLA1000v2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>99</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WLA2000v2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>100</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WLA1000v1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>91</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WLA2000v1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>93</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WLA4000v1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>97</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sweex</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>340</integer>
			<key>idVendor</key>
			<integer>6015</integer>
		</dict>
		<key>ZCOM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>48</integer>
			<key>idVendor</key>
			<integer>3294</integer>
		</dict>
		<key>Zinwell</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>657</integer>
			<key>idVendor</key>
			<integer>23127</integer>
		</dict>
		<key>PCI_USH300N</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>60696</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_USMicroN2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>60694</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_USNano</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>43816</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_USSuper300</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>18689</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>Abocom</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33160</integer>
			<key>idVendor</key>
			<integer>1976</integer>
		</dict>
		<key>Sagemcom</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>8679</integer>
			<key>idVendor</key>
			<integer>9</integer>
		</dict>
		<key>Lanready</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>25707</integer>
			<key>idVendor</key>
			<integer>8436</integer>
		</dict>
		<key>XAVi_2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45042</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>XAVi_5</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45045</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>XAVi_6</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45046</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>CCandC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192SU</string>
			<key>IOClass</key>
			<string>RTL8192SU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>20599</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
