<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JokeZont (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{260,714},{234,336}}</string>
                <key>offset</key>
                <string>{98,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,91},{234,336}}</string>
                <key>sourceSize</key>
                <string>{234,336}</string>
            </dict>
            <key>JokeZont (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{264,358},{190,326}}</string>
                <key>offset</key>
                <string>{125,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,90},{190,326}}</string>
                <key>sourceSize</key>
                <string>{190,326}</string>
            </dict>
            <key>JokeZont (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{180,324}}</string>
                <key>offset</key>
                <string>{122,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,92},{180,324}}</string>
                <key>sourceSize</key>
                <string>{180,324}</string>
            </dict>
            <key>JokeZont (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1070},{176,324}}</string>
                <key>offset</key>
                <string>{110,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,92},{176,324}}</string>
                <key>sourceSize</key>
                <string>{176,324}</string>
            </dict>
            <key>JokeZont (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{184,334}}</string>
                <key>offset</key>
                <string>{126,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,89},{184,334}}</string>
                <key>sourceSize</key>
                <string>{184,334}</string>
            </dict>
            <key>JokeZont (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,354}}</string>
                <key>offset</key>
                <string>{86,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,85},{276,354}}</string>
                <key>sourceSize</key>
                <string>{276,354}</string>
            </dict>
            <key>JokeZont (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{260,354}}</string>
                <key>offset</key>
                <string>{96,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,85},{260,354}}</string>
                <key>sourceSize</key>
                <string>{260,354}</string>
            </dict>
            <key>JokeZont (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{256,354}}</string>
                <key>offset</key>
                <string>{96,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,85},{256,354}}</string>
                <key>sourceSize</key>
                <string>{256,354}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManZontJoke.png</string>
            <key>size</key>
            <string>{496,1396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebdf94eebcc95ce2b0665b2fad8306e9:c842553bd3d1ae0d2ba956756913782b:73c6b2bdf1c4b2dc50f1ba173d6a2414$</string>
            <key>textureFileName</key>
            <string>ManZontJoke.png</string>
        </dict>
    </dict>
</plist>
