<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{229,355}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,21},{229,355}}</string>
                <key>sourceSize</key>
                <string>{373,421}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{196,362}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,30},{196,362}}</string>
                <key>sourceSize</key>
                <string>{312,422}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{202,332}}</string>
                <key>offset</key>
                <string>{32,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,35},{202,332}}</string>
                <key>sourceSize</key>
                <string>{296,414}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,383},{263,299}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{263,299}}</string>
                <key>sourceSize</key>
                <string>{343,389}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,379}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,20},{279,379}}</string>
                <key>sourceSize</key>
                <string>{423,475}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>my.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce4dd20d55c733837c0e747962b9f52d:9bbe2b8112f9513175262c63639baa83:c178b39e0a9e575acc52d777d907ce32$</string>
            <key>textureFileName</key>
            <string>my.png</string>
        </dict>
    </dict>
</plist>
