<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>25</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.5</string>
	<key>CFBundleVersion</key>
	<string>425.14.6</string>
	<key>ProjectName</key>
	<string>AirPortDriverAtheros9380</string>
	<key>SourceVersion</key>
	<string>4251406</string>
</dict>
</plist>
