<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NVDANV50Hal</string>
	<key>CFBundleGetInfoString</key>
	<string>NVDANV50Hal 8.0.61 295.30.20f02</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.nvidia.nv50hal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NVIDIA NV50 Resman Kernel Extension</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>8.0.61</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>8.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>NVidiaRM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.nvidia.nv50hal</string>
			<key>IOClass</key>
			<string>NVDANV50HAL</string>
			<key>IOMatchCategory</key>
			<string>IOService</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>
 				0x019010de&amp;0xfff0ffff
 				0x040010de&amp;0xfff0ffff
 				0x041010de&amp;0xfff0ffff
 				0x041010de&amp;0xfff0ffff
 				0x042010de&amp;0xfff0ffff
 				0x043010de&amp;0xfff0ffff
 				0x046010de&amp;0xfff0ffff
 				0x052010de&amp;0xfff0ffff
 				0x05c010de&amp;0xffe0ffff
 				0x05e010de&amp;0xffe0ffff
 				0x060010de&amp;0xffe0ffff
 				0x062010de&amp;0xffe0ffff
 				0x064010de&amp;0xffe0ffff
 				0x086010de&amp;0xffe0ffff
 				0x08a010de&amp;0xffe0ffff
 				0x0a0010de&amp;0xffe0ffff
 				0x0a2010de&amp;0xffe0ffff
 				0x0a6010de&amp;0xffe0ffff
 				0x0ca010de&amp;0xffe0ffff
 				0x0d4010de&amp;0xffe0ffff
 				0x10c010de&amp;0xffe0ffff
			</string>
			<key>IOProbeScore</key>
			<integer>60000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.2.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.NVDAResman</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.4</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
