<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>manAngry (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{544,526},{156,246}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,162},{156,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{220,764},{256,250}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,158},{256,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{294,216}}</string>
                <key>offset</key>
                <string>{-11,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,192},{294,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{304,240}}</string>
                <key>offset</key>
                <string>{-23,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,170},{304,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,280}}</string>
                <key>offset</key>
                <string>{-23,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,89},{282,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{478,774},{294,198}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,212},{294,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{294,266}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,124},{294,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{286,270},{300,254}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,154},{300,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{300,204}}</string>
                <key>offset</key>
                <string>{-19,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,206},{300,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{244,526},{298,236}}</string>
                <key>offset</key>
                <string>{-11,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,174},{298,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1016},{242,244}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,166},{242,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{178,246}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,162},{178,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1516},{176,248}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,162},{176,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1516},{158,248}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,162},{158,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1694},{218,246}}</string>
                <key>offset</key>
                <string>{-32,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,162},{218,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{216,250}}</string>
                <key>offset</key>
                <string>{-30,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,158},{216,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1302},{212,242}}</string>
                <key>offset</key>
                <string>{-25,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,166},{212,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1676},{214,238}}</string>
                <key>offset</key>
                <string>{-15,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,170},{214,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{198,264}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,144},{198,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1260},{214,254}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,154},{214,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>manAngry (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1070},{230,240}}</string>
                <key>offset</key>
                <string>{-22,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,168},{230,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>manAngry.png</string>
            <key>size</key>
            <string>{702,1942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc2180f076fbf0b1ada8744cc2cedea9:c0d57e3436f44fecfef67c28be831a07:e871a62258dc8c307ea24304b3a8df20$</string>
            <key>textureFileName</key>
            <string>manAngry.png</string>
        </dict>
    </dict>
</plist>
