<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MAngry (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{192,266}}</string>
                <key>offset</key>
                <string>{148,-224}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,224},{192,266}}</string>
                <key>sourceSize</key>
                <string>{192,266}</string>
            </dict>
            <key>MAngry (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,220},{314,232}}</string>
                <key>offset</key>
                <string>{90,-258}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,258},{314,232}}</string>
                <key>sourceSize</key>
                <string>{314,232}</string>
            </dict>
            <key>MAngry (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,454},{328,256}}</string>
                <key>offset</key>
                <string>{68,-236}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,236},{328,256}}</string>
                <key>sourceSize</key>
                <string>{328,256}</string>
            </dict>
            <key>MAngry (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,712},{300,294}}</string>
                <key>offset</key>
                <string>{82,-153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,153},{300,294}}</string>
                <key>sourceSize</key>
                <string>{300,294}</string>
            </dict>
            <key>MAngry (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{314,216}}</string>
                <key>offset</key>
                <string>{79,-276}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,276},{314,216}}</string>
                <key>sourceSize</key>
                <string>{314,216}</string>
            </dict>
            <key>MAngry (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{868,712},{314,284}}</string>
                <key>offset</key>
                <string>{82,-187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,187},{314,284}}</string>
                <key>sourceSize</key>
                <string>{314,284}</string>
            </dict>
            <key>MAngry (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{542,708},{324,270}}</string>
                <key>offset</key>
                <string>{75,-220}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,220},{324,270}}</string>
                <key>sourceSize</key>
                <string>{324,270}</string>
            </dict>
            <key>MAngry (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{264,196},{322,220}}</string>
                <key>offset</key>
                <string>{76,-272}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,272},{322,220}}</string>
                <key>sourceSize</key>
                <string>{322,220}</string>
            </dict>
            <key>MAngry (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{802,454},{322,252}}</string>
                <key>offset</key>
                <string>{84,-240}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,240},{322,252}}</string>
                <key>sourceSize</key>
                <string>{322,252}</string>
            </dict>
            <key>MAngry (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{264,262}}</string>
                <key>offset</key>
                <string>{119,-230}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,230},{264,262}}</string>
                <key>sourceSize</key>
                <string>{264,262}</string>
            </dict>
            <key>MAngry (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{190,266}}</string>
                <key>offset</key>
                <string>{159,-226}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,226},{190,266}}</string>
                <key>sourceSize</key>
                <string>{190,266}</string>
            </dict>
            <key>MAngry (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{232,266}}</string>
                <key>offset</key>
                <string>{107,-224}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,224},{232,266}}</string>
                <key>sourceSize</key>
                <string>{232,266}</string>
            </dict>
            <key>MAngry (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,268}}</string>
                <key>offset</key>
                <string>{171,-224}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,224},{172,268}}</string>
                <key>sourceSize</key>
                <string>{172,268}</string>
            </dict>
            <key>MAngry (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,418},{232,270}}</string>
                <key>offset</key>
                <string>{109,-220}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,220},{232,270}}</string>
                <key>sourceSize</key>
                <string>{232,270}</string>
            </dict>
            <key>MAngry (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{228,260}}</string>
                <key>offset</key>
                <string>{117,-230}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,230},{228,260}}</string>
                <key>sourceSize</key>
                <string>{228,260}</string>
            </dict>
            <key>MAngry (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{862,220},{230,256}}</string>
                <key>offset</key>
                <string>{127,-234}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,234},{230,256}}</string>
                <key>sourceSize</key>
                <string>{230,256}</string>
            </dict>
            <key>MAngry (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{212,284}}</string>
                <key>offset</key>
                <string>{145,-206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,206},{212,284}}</string>
                <key>sourceSize</key>
                <string>{212,284}</string>
            </dict>
            <key>MAngry (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{588,216},{228,272}}</string>
                <key>offset</key>
                <string>{129,-218}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,218},{228,272}}</string>
                <key>sourceSize</key>
                <string>{228,272}</string>
            </dict>
            <key>MAngry (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{542,446},{246,258}}</string>
                <key>offset</key>
                <string>{111,-232}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,232},{246,258}}</string>
                <key>sourceSize</key>
                <string>{246,258}</string>
            </dict>
            <key>MAngry (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{268,652},{272,268}}</string>
                <key>offset</key>
                <string>{115,-222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,222},{272,268}}</string>
                <key>sourceSize</key>
                <string>{272,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManAngry.png</string>
            <key>size</key>
            <string>{1480,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be41d6c0f2833600e304d602e2795de2:4e61b3d71c8e2b45126b7e9a2298ec7e:a115a4efd4963f477cbc01b94eeebc6e$</string>
            <key>textureFileName</key>
            <string>ManAngry.png</string>
        </dict>
    </dict>
</plist>
