<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ManDoorRightIn (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,2},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightIn (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{160,328}}</string>
                <key>offset</key>
                <string>{176,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,184},{160,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightIn (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,328}}</string>
                <key>offset</key>
                <string>{149,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,184},{214,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightIn (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,164},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightIn (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{992,178},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightIn (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,238},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightIn (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{662,198},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightIn (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{992,252},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightIn (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,312},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightIn (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{332,210},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightIn (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2},{126,328}}</string>
                <key>offset</key>
                <string>{193,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,184},{126,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightOut (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{206,328}}</string>
                <key>offset</key>
                <string>{153,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,184},{206,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightOut (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,2},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightOut (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{194,328}}</string>
                <key>offset</key>
                <string>{159,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,184},{194,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightOut (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{174,328}}</string>
                <key>offset</key>
                <string>{169,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,184},{174,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightOut (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,2},{122,328}}</string>
                <key>offset</key>
                <string>{195,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,184},{122,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightOut (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{662,272},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightOut (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{992,326},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightOut (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightOut (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{332,284},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorRightOut (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{72,328}}</string>
                <key>offset</key>
                <string>{220,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,184},{72,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManDoorRight.png</string>
            <key>size</key>
            <string>{1978,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60bc9aa889d6f33dea8aad20f67abc00:d5515f0fa932f0c418bb22c5db6e7306:bc77f1313d1ec62d21510dea47a4a48b$</string>
            <key>textureFileName</key>
            <string>ManDoorRight.png</string>
        </dict>
    </dict>
</plist>
