<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MDLI (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{538,340},{224,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,336}}</string>
                <key>sourceSize</key>
                <string>{224,336}</string>
            </dict>
            <key>MDLI (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,678},{128,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,336}}</string>
                <key>sourceSize</key>
                <string>{128,336}</string>
            </dict>
            <key>MDLI (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,678},{62,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,336}}</string>
                <key>sourceSize</key>
                <string>{62,336}</string>
            </dict>
            <key>MDLI (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{272,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,336}}</string>
                <key>sourceSize</key>
                <string>{272,336}</string>
            </dict>
            <key>MDLI (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,340},{260,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,336}}</string>
                <key>sourceSize</key>
                <string>{260,336}</string>
            </dict>
            <key>MDLI (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{252,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,336}}</string>
                <key>sourceSize</key>
                <string>{252,336}</string>
            </dict>
            <key>MDLI (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{272,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,336}}</string>
                <key>sourceSize</key>
                <string>{272,336}</string>
            </dict>
            <key>MDLI (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{224,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,336}}</string>
                <key>sourceSize</key>
                <string>{224,336}</string>
            </dict>
            <key>MDLI (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{968,340},{186,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,336}}</string>
                <key>sourceSize</key>
                <string>{186,336}</string>
            </dict>
            <key>MDLI (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,340},{180,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,336}}</string>
                <key>sourceSize</key>
                <string>{180,336}</string>
            </dict>
            <key>MDLI (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{764,340},{202,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,336}}</string>
                <key>sourceSize</key>
                <string>{202,336}</string>
            </dict>
            <key>MDLO (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,340},{60,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDLO (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,336}}</string>
                <key>sourceSize</key>
                <string>{280,336}</string>
            </dict>
            <key>MDLO (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,678},{84,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,336}}</string>
                <key>sourceSize</key>
                <string>{84,336}</string>
            </dict>
            <key>MDLO (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{146,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,336}}</string>
                <key>sourceSize</key>
                <string>{146,336}</string>
            </dict>
            <key>MDLO (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{932,678},{186,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,336}}</string>
                <key>sourceSize</key>
                <string>{186,336}</string>
            </dict>
            <key>MDLO (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{198,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,336}}</string>
                <key>sourceSize</key>
                <string>{198,336}</string>
            </dict>
            <key>MDLO (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{732,678},{198,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,336}}</string>
                <key>sourceSize</key>
                <string>{198,336}</string>
            </dict>
            <key>MDLO (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{518,678},{212,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,336}}</string>
                <key>sourceSize</key>
                <string>{212,336}</string>
            </dict>
            <key>MDLO (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,678},{246,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,336}}</string>
                <key>sourceSize</key>
                <string>{246,336}</string>
            </dict>
            <key>MDLO (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{266,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,336}}</string>
                <key>sourceSize</key>
                <string>{266,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManDoorLeft.png</string>
            <key>size</key>
            <string>{1400,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f98797508ddb09109ffd7391bacd1e73:1ccfcaa6aaeb4a548d1c0b1da6c7e1aa:8f10cbb290e3090ca096139fbb3a351e$</string>
            <key>textureFileName</key>
            <string>ManDoorLeft.png</string>
        </dict>
    </dict>
</plist>
