<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MDUI (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{148,746},{90,144}}</string>
                <key>offset</key>
                <string>{82,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,85},{90,144}}</string>
                <key>sourceSize</key>
                <string>{90,144}</string>
            </dict>
            <key>MDUI (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{84,134}}</string>
                <key>offset</key>
                <string>{88,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,85},{84,134}}</string>
                <key>sourceSize</key>
                <string>{84,134}</string>
            </dict>
            <key>MDUI (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{84,126}}</string>
                <key>offset</key>
                <string>{88,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,84},{84,126}}</string>
                <key>sourceSize</key>
                <string>{84,126}</string>
            </dict>
            <key>MDUI (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{92,144}}</string>
                <key>offset</key>
                <string>{80,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,85},{92,144}}</string>
                <key>sourceSize</key>
                <string>{92,144}</string>
            </dict>
            <key>MDUI (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{148,600},{94,144}}</string>
                <key>offset</key>
                <string>{78,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,85},{94,144}}</string>
                <key>sourceSize</key>
                <string>{94,144}</string>
            </dict>
            <key>MDUI (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,156},{94,148}}</string>
                <key>offset</key>
                <string>{78,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,85},{94,148}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>MDUI (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,152}}</string>
                <key>offset</key>
                <string>{79,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,85},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>MDUI (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{134,144}}</string>
                <key>offset</key>
                <string>{82,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,85},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>MDUI (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{130,140}}</string>
                <key>offset</key>
                <string>{85,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,85},{130,140}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>MDUI (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{130,140}}</string>
                <key>offset</key>
                <string>{88,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,84},{130,140}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>MDUI (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{86,144}}</string>
                <key>offset</key>
                <string>{88,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,84},{86,144}}</string>
                <key>sourceSize</key>
                <string>{86,144}</string>
            </dict>
            <key>MDUO (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1164},{86,126}}</string>
                <key>offset</key>
                <string>{85,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,84},{86,126}}</string>
                <key>sourceSize</key>
                <string>{86,126}</string>
            </dict>
            <key>MDUO (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{94,152}}</string>
                <key>offset</key>
                <string>{77,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,84},{94,152}}</string>
                <key>sourceSize</key>
                <string>{94,152}</string>
            </dict>
            <key>MDUO (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{88,152}}</string>
                <key>offset</key>
                <string>{83,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,85},{88,152}}</string>
                <key>sourceSize</key>
                <string>{88,152}</string>
            </dict>
            <key>MDUO (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1032},{86,130}}</string>
                <key>offset</key>
                <string>{85,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,85},{86,130}}</string>
                <key>sourceSize</key>
                <string>{86,130}</string>
            </dict>
            <key>MDUO (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,892},{86,138}}</string>
                <key>offset</key>
                <string>{85,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,84},{86,138}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>MDUO (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{86,142}}</string>
                <key>offset</key>
                <string>{85,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,85},{86,142}}</string>
                <key>sourceSize</key>
                <string>{86,142}</string>
            </dict>
            <key>MDUO (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{112,144}}</string>
                <key>offset</key>
                <string>{85,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,84},{112,144}}</string>
                <key>sourceSize</key>
                <string>{112,144}</string>
            </dict>
            <key>MDUO (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{122,144}}</string>
                <key>offset</key>
                <string>{72,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,84},{122,144}}</string>
                <key>sourceSize</key>
                <string>{122,144}</string>
            </dict>
            <key>MDUO (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{148,454},{100,144}}</string>
                <key>offset</key>
                <string>{71,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,85},{100,144}}</string>
                <key>sourceSize</key>
                <string>{100,144}</string>
            </dict>
            <key>MDUO (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{102,146}}</string>
                <key>offset</key>
                <string>{69,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,85},{102,146}}</string>
                <key>sourceSize</key>
                <string>{102,146}</string>
            </dict>
            <key>MDUO (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,306},{102,146}}</string>
                <key>offset</key>
                <string>{69,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,85},{102,146}}</string>
                <key>sourceSize</key>
                <string>{102,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManDoorUp.png</string>
            <key>size</key>
            <string>{254,1388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ab0ebe66fb16ddcc0e2dc1dab4abfdf:d6754017d5fe5364e230c2f1299abd6e:18caffbf5765c8dbd697a75532c23276$</string>
            <key>textureFileName</key>
            <string>ManDoorUp.png</string>
        </dict>
    </dict>
</plist>
