<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ManDoorTopIn (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,252}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopIn (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopIn (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{148,244}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopIn (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{452,240},{148,230}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,121},{148,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopIn (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{152,250},{148,222}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopIn (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{302,248},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopIn (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{602,240},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopIn (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopIn (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,220},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopIn (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopOut (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{902,220},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopOut (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{148,236}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,121},{148,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopOut (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,246}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,121},{148,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopOut (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopOut (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,220},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopOut (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopOut (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopOut (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,152},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopOut (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,220},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopOut (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,302},{148,216}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorTopOut (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{148,236}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,121},{148,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManDoorTop.png</string>
            <key>size</key>
            <string>{1570,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3768e186eac6b67b0b4cd94b91197bc0:56232135e2605d7f7202e6e12316a030:4fb5be461568f7f094586aeb229944de$</string>
            <key>textureFileName</key>
            <string>ManDoorTop.png</string>
        </dict>
    </dict>
</plist>
