<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ManDoorLeftIn (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{226,412}}</string>
                <key>offset</key>
                <string>{-143,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{226,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftIn (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{830,830},{184,412}}</string>
                <key>offset</key>
                <string>{-164,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{184,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftIn (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{102,412}}</string>
                <key>offset</key>
                <string>{-205,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{102,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftIn (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{272,412}}</string>
                <key>offset</key>
                <string>{-120,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{272,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftIn (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{260,412}}</string>
                <key>offset</key>
                <string>{-126,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{260,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftIn (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{242,412}}</string>
                <key>offset</key>
                <string>{-135,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{242,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftIn (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{270,412}}</string>
                <key>offset</key>
                <string>{-121,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{270,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftIn (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{794,416},{228,412}}</string>
                <key>offset</key>
                <string>{-142,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{228,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftIn (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{192,412}}</string>
                <key>offset</key>
                <string>{-160,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{192,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftIn (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{416,830},{186,412}}</string>
                <key>offset</key>
                <string>{-163,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{186,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftIn (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2},{200,412}}</string>
                <key>offset</key>
                <string>{-156,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{200,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftOut (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,416},{80,412}}</string>
                <key>offset</key>
                <string>{-216,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{80,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftOut (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,412}}</string>
                <key>offset</key>
                <string>{-117,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{278,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftOut (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,416},{86,412}}</string>
                <key>offset</key>
                <string>{-213,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{86,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftOut (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,830},{152,412}}</string>
                <key>offset</key>
                <string>{-180,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{152,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftOut (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,416},{198,412}}</string>
                <key>offset</key>
                <string>{-157,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{198,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftOut (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,416},{202,412}}</string>
                <key>offset</key>
                <string>{-155,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{202,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftOut (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,2},{204,412}}</string>
                <key>offset</key>
                <string>{-154,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{204,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftOut (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,416},{216,412}}</string>
                <key>offset</key>
                <string>{-148,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{216,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftOut (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{544,416},{248,412}}</string>
                <key>offset</key>
                <string>{-132,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{248,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManDoorLeftOut (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,416},{266,412}}</string>
                <key>offset</key>
                <string>{-123,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{266,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManDoorLeft.png</string>
            <key>size</key>
            <string>{1816,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73444a0f3e46c96eb52934f54086cef6:8c599d15ee5feef665267b89563e5d95:8f10cbb290e3090ca096139fbb3a351e$</string>
            <key>textureFileName</key>
            <string>ManDoorLeft.png</string>
        </dict>
    </dict>
</plist>
