<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MDLI (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{142,192},{112,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{112,188}}</string>
                <key>sourceSize</key>
                <string>{112,188}</string>
            </dict>
            <key>MDLI (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1332},{64,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{64,188}}</string>
                <key>sourceSize</key>
                <string>{64,188}</string>
            </dict>
            <key>MDLI (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1522},{30,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDLI (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{138,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{138,188}}</string>
                <key>sourceSize</key>
                <string>{138,188}</string>
            </dict>
            <key>MDLI (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{132,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{132,188}}</string>
                <key>sourceSize</key>
                <string>{132,188}</string>
            </dict>
            <key>MDLI (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{126,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{126,188}}</string>
                <key>sourceSize</key>
                <string>{126,188}</string>
            </dict>
            <key>MDLI (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{136,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{136,188}}</string>
                <key>sourceSize</key>
                <string>{136,188}</string>
            </dict>
            <key>MDLI (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{140,572},{114,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{114,188}}</string>
                <key>sourceSize</key>
                <string>{114,188}</string>
            </dict>
            <key>MDLI (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{94,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{94,188}}</string>
                <key>sourceSize</key>
                <string>{94,188}</string>
            </dict>
            <key>MDLI (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1332},{90,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{90,188}}</string>
                <key>sourceSize</key>
                <string>{90,188}</string>
            </dict>
            <key>MDLI (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{142,382},{100,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{100,188}}</string>
                <key>sourceSize</key>
                <string>{100,188}</string>
            </dict>
            <key>MDLO (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1522},{30,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDLO (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{138,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{138,188}}</string>
                <key>sourceSize</key>
                <string>{138,188}</string>
            </dict>
            <key>MDLO (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{140,188}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>MDLO (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1522},{42,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{42,188}}</string>
                <key>sourceSize</key>
                <string>{42,188}</string>
            </dict>
            <key>MDLO (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1522},{74,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{74,188}}</string>
                <key>sourceSize</key>
                <string>{74,188}</string>
            </dict>
            <key>MDLO (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{94,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{94,188}}</string>
                <key>sourceSize</key>
                <string>{94,188}</string>
            </dict>
            <key>MDLO (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{136,952},{100,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{100,188}}</string>
                <key>sourceSize</key>
                <string>{100,188}</string>
            </dict>
            <key>MDLO (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{138,762},{100,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{100,188}}</string>
                <key>sourceSize</key>
                <string>{100,188}</string>
            </dict>
            <key>MDLO (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{108,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{108,188}}</string>
                <key>sourceSize</key>
                <string>{108,188}</string>
            </dict>
            <key>MDLO (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1142},{124,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{124,188}}</string>
                <key>sourceSize</key>
                <string>{124,188}</string>
            </dict>
            <key>MDLO (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{134,188}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{134,188}}</string>
                <key>sourceSize</key>
                <string>{134,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManDoorLeft.png</string>
            <key>size</key>
            <string>{256,1712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8eb4799c3d5507d920bebb3028061a0:5efa5a48076ff0c42752b6d6cc552b6b:8f10cbb290e3090ca096139fbb3a351e$</string>
            <key>textureFileName</key>
            <string>ManDoorLeft.png</string>
        </dict>
    </dict>
</plist>
