<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MDRI (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{204,336}}</string>
                <key>offset</key>
                <string>{308,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,175},{204,336}}</string>
                <key>sourceSize</key>
                <string>{204,336}</string>
            </dict>
            <key>MDRI (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRI (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{192,336}}</string>
                <key>offset</key>
                <string>{320,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,175},{192,336}}</string>
                <key>sourceSize</key>
                <string>{192,336}</string>
            </dict>
            <key>MDRI (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{168,336}}</string>
                <key>offset</key>
                <string>{344,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,175},{168,336}}</string>
                <key>sourceSize</key>
                <string>{168,336}</string>
            </dict>
            <key>MDRI (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{112,336}}</string>
                <key>offset</key>
                <string>{400,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,175},{112,336}}</string>
                <key>sourceSize</key>
                <string>{112,336}</string>
            </dict>
            <key>MDRI (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRI (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRI (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRI (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRI (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRO (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRO (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{156,336}}</string>
                <key>offset</key>
                <string>{356,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,175},{156,336}}</string>
                <key>sourceSize</key>
                <string>{156,336}</string>
            </dict>
            <key>MDRO (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,336}}</string>
                <key>offset</key>
                <string>{300,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,175},{212,336}}</string>
                <key>sourceSize</key>
                <string>{212,336}</string>
            </dict>
            <key>MDRO (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRO (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRO (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRO (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRO (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRO (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRO (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{60,336}}</string>
                <key>offset</key>
                <string>{452,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,175},{60,336}}</string>
                <key>sourceSize</key>
                <string>{60,336}</string>
            </dict>
            <key>MDRO (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{120,336}}</string>
                <key>offset</key>
                <string>{392,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,175},{120,336}}</string>
                <key>sourceSize</key>
                <string>{120,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManDoorRight.png</string>
            <key>size</key>
            <string>{2048,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc423b61a9cf50dff6a8b09124f6957e:3a55ce012cd9c457bfa78961c0ccdf78:bc77f1313d1ec62d21510dea47a4a48b$</string>
            <key>textureFileName</key>
            <string>ManDoorRight.png</string>
        </dict>
    </dict>
</plist>
