<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MDRI (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{102,188}}</string>
                <key>offset</key>
                <string>{154,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,68},{102,188}}</string>
                <key>sourceSize</key>
                <string>{102,188}</string>
            </dict>
            <key>MDRI (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,572},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRI (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,572},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRI (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{96,188}}</string>
                <key>offset</key>
                <string>{160,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,68},{96,188}}</string>
                <key>sourceSize</key>
                <string>{96,188}</string>
            </dict>
            <key>MDRI (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{84,188}}</string>
                <key>offset</key>
                <string>{172,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,68},{84,188}}</string>
                <key>sourceSize</key>
                <string>{84,188}</string>
            </dict>
            <key>MDRI (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{56,188}}</string>
                <key>offset</key>
                <string>{200,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,68},{56,188}}</string>
                <key>sourceSize</key>
                <string>{56,188}</string>
            </dict>
            <key>MDRI (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{82,762},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRI (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{64,952},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRI (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1142},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRI (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRI (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1332},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRO (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,572},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRO (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{78,188}}</string>
                <key>offset</key>
                <string>{178,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,68},{78,188}}</string>
                <key>sourceSize</key>
                <string>{78,188}</string>
            </dict>
            <key>MDRO (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,188}}</string>
                <key>offset</key>
                <string>{150,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,68},{106,188}}</string>
                <key>sourceSize</key>
                <string>{106,188}</string>
            </dict>
            <key>MDRO (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1332},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRO (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRO (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRO (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1522},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRO (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1712},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRO (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1522},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRO (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1712},{30,188}}</string>
                <key>offset</key>
                <string>{226,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,68},{30,188}}</string>
                <key>sourceSize</key>
                <string>{30,188}</string>
            </dict>
            <key>MDRO (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{60,188}}</string>
                <key>offset</key>
                <string>{196,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,68},{60,188}}</string>
                <key>sourceSize</key>
                <string>{60,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManDoorRight.png</string>
            <key>size</key>
            <string>{120,1902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efcfab997a995578905b0a00e1725bf3:9fa0c178f1851afeaf98ad73872f801c:bc77f1313d1ec62d21510dea47a4a48b$</string>
            <key>textureFileName</key>
            <string>ManDoorRight.png</string>
        </dict>
    </dict>
</plist>
