<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MDUI (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{760,492},{178,288}}</string>
                <key>offset</key>
                <string>{165,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,169},{178,288}}</string>
                <key>sourceSize</key>
                <string>{178,288}</string>
            </dict>
            <key>MDUI (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{168,268}}</string>
                <key>offset</key>
                <string>{175,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,170},{168,268}}</string>
                <key>sourceSize</key>
                <string>{168,268}</string>
            </dict>
            <key>MDUI (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,698},{168,250}}</string>
                <key>offset</key>
                <string>{175,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,169},{168,250}}</string>
                <key>sourceSize</key>
                <string>{168,250}</string>
            </dict>
            <key>MDUI (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{182,288}}</string>
                <key>offset</key>
                <string>{161,-169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,169},{182,288}}</string>
                <key>sourceSize</key>
                <string>{182,288}</string>
            </dict>
            <key>MDUI (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{716,202},{186,288}}</string>
                <key>offset</key>
                <string>{157,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,169},{186,288}}</string>
                <key>sourceSize</key>
                <string>{186,288}</string>
            </dict>
            <key>MDUI (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{572,500},{186,296}}</string>
                <key>offset</key>
                <string>{157,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,169},{186,296}}</string>
                <key>sourceSize</key>
                <string>{186,296}</string>
            </dict>
            <key>MDUI (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{266,580},{218,304}}</string>
                <key>offset</key>
                <string>{160,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,170},{218,304}}</string>
                <key>sourceSize</key>
                <string>{218,304}</string>
            </dict>
            <key>MDUI (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,288}}</string>
                <key>offset</key>
                <string>{164,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,169},{268,288}}</string>
                <key>sourceSize</key>
                <string>{268,288}</string>
            </dict>
            <key>MDUI (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{262,280}}</string>
                <key>offset</key>
                <string>{168,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,169},{262,280}}</string>
                <key>sourceSize</key>
                <string>{262,280}</string>
            </dict>
            <key>MDUI (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{262,278}}</string>
                <key>offset</key>
                <string>{174,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,169},{262,278}}</string>
                <key>sourceSize</key>
                <string>{262,278}</string>
            </dict>
            <key>MDUI (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{864,782},{172,286}}</string>
                <key>offset</key>
                <string>{175,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,170},{172,286}}</string>
                <key>sourceSize</key>
                <string>{172,286}</string>
            </dict>
            <key>MDUO (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,446},{170,250}}</string>
                <key>offset</key>
                <string>{171,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,169},{170,250}}</string>
                <key>sourceSize</key>
                <string>{170,250}</string>
            </dict>
            <key>MDUO (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{560,800},{198,302}}</string>
                <key>offset</key>
                <string>{143,-169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,169},{198,302}}</string>
                <key>sourceSize</key>
                <string>{198,302}</string>
            </dict>
            <key>MDUO (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,186},{170,258}}</string>
                <key>offset</key>
                <string>{171,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,170},{170,258}}</string>
                <key>sourceSize</key>
                <string>{170,258}</string>
            </dict>
            <key>MDUO (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{940,472},{170,274}}</string>
                <key>offset</key>
                <string>{171,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,169},{170,274}}</string>
                <key>sourceSize</key>
                <string>{170,274}</string>
            </dict>
            <key>MDUO (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{904,186},{170,284}}</string>
                <key>offset</key>
                <string>{171,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,169},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>MDUO (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,800},{222,286}}</string>
                <key>offset</key>
                <string>{170,-169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,169},{222,286}}</string>
                <key>sourceSize</key>
                <string>{222,286}</string>
            </dict>
            <key>MDUO (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{266,292},{244,286}}</string>
                <key>offset</key>
                <string>{143,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{244,286}}</string>
                <key>sourceSize</key>
                <string>{244,286}</string>
            </dict>
            <key>MDUO (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{198,286}}</string>
                <key>offset</key>
                <string>{143,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{198,286}}</string>
                <key>sourceSize</key>
                <string>{198,286}</string>
            </dict>
            <key>MDUO (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{202,292}}</string>
                <key>offset</key>
                <string>{139,-169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,169},{202,292}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>MDUO (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{512,206},{202,292}}</string>
                <key>offset</key>
                <string>{139,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,170},{202,292}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManDoorUp.png</string>
            <key>size</key>
            <string>{1322,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa422387ed45d40d97d28dae4f53a25e:997c528ffe8ba763a4f127cc4a4ae072:18caffbf5765c8dbd697a75532c23276$</string>
            <key>textureFileName</key>
            <string>ManDoorUp.png</string>
        </dict>
    </dict>
</plist>
