<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MRepair (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,262}}</string>
                <key>offset</key>
                <string>{122,-218}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,218},{270,262}}</string>
                <key>sourceSize</key>
                <string>{270,262}</string>
            </dict>
            <key>MRepair (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{198,258}}</string>
                <key>offset</key>
                <string>{160,-222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,222},{198,258}}</string>
                <key>sourceSize</key>
                <string>{198,258}</string>
            </dict>
            <key>MRepair (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{332,526},{158,254}}</string>
                <key>offset</key>
                <string>{184,-225}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,225},{158,254}}</string>
                <key>sourceSize</key>
                <string>{158,254}</string>
            </dict>
            <key>MRepair (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,526},{160,254}}</string>
                <key>offset</key>
                <string>{180,-225}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,225},{160,254}}</string>
                <key>sourceSize</key>
                <string>{160,254}</string>
            </dict>
            <key>MRepair (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{166,256}}</string>
                <key>offset</key>
                <string>{179,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,223},{166,256}}</string>
                <key>sourceSize</key>
                <string>{166,256}</string>
            </dict>
            <key>MRepair (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{202,266},{166,258}}</string>
                <key>offset</key>
                <string>{180,-221}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,221},{166,258}}</string>
                <key>sourceSize</key>
                <string>{166,258}</string>
            </dict>
            <key>MRepair (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{164,262}}</string>
                <key>offset</key>
                <string>{183,-218}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,218},{164,262}}</string>
                <key>sourceSize</key>
                <string>{164,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManRepair.png</string>
            <key>size</key>
            <string>{492,784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f3ebb323a276b2df6f3263a7613dfd3:7857425945d1b6e198946057aed60ff4:7f4a527710d94719b6d2603f00a79038$</string>
            <key>textureFileName</key>
            <string>ManRepair.png</string>
        </dict>
    </dict>
</plist>
