<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ManRepair (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,238}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,159},{244,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{178,234}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,163},{178,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{144,232}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,165},{144,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{146,232}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,164},{146,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{152,234}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,162},{152,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{152,236}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,161},{152,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{152,238}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,159},{152,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManRepair.png</string>
            <key>size</key>
            <string>{1184,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f1e961980af1d8c4c588fca97da6faf:34a7c6834fbbe6eb629a2e3112f3029c:7f4a527710d94719b6d2603f00a79038$</string>
            <key>textureFileName</key>
            <string>ManRepair.png</string>
        </dict>
    </dict>
</plist>
