<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ManRepair (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,248}}</string>
                <key>offset</key>
                <string>{1,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,234},{252,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{184,244}}</string>
                <key>offset</key>
                <string>{3,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,238},{184,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{148,242}}</string>
                <key>offset</key>
                <string>{7,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,240},{148,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{150,242}}</string>
                <key>offset</key>
                <string>{4,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,240},{150,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{156,242}}</string>
                <key>offset</key>
                <string>{6,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,239},{156,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{154,244}}</string>
                <key>offset</key>
                <string>{7,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,238},{154,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManRepair (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{154,248}}</string>
                <key>offset</key>
                <string>{9,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,234},{154,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManRepair.png</string>
            <key>size</key>
            <string>{1214,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47242de14103f00f637a21c139e7dc9e:89af84997e05192cc195ce6ac19aafe7:7f4a527710d94719b6d2603f00a79038$</string>
            <key>textureFileName</key>
            <string>ManRepair.png</string>
        </dict>
    </dict>
</plist>
