<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MWD (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,146},{86,134}}</string>
                <key>offset</key>
                <string>{82,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,111},{86,134}}</string>
                <key>sourceSize</key>
                <string>{86,134}</string>
            </dict>
            <key>MWD (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{416,144},{82,130}}</string>
                <key>offset</key>
                <string>{84,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,111},{82,130}}</string>
                <key>sourceSize</key>
                <string>{82,130}</string>
            </dict>
            <key>MWD (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{140,66},{76,132}}</string>
                <key>offset</key>
                <string>{90,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,112},{76,132}}</string>
                <key>sourceSize</key>
                <string>{76,132}</string>
            </dict>
            <key>MWD (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{138,144},{80,138}}</string>
                <key>offset</key>
                <string>{88,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,111},{80,138}}</string>
                <key>sourceSize</key>
                <string>{80,138}</string>
            </dict>
            <key>MWD (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,148},{86,134}}</string>
                <key>offset</key>
                <string>{88,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,111},{86,134}}</string>
                <key>sourceSize</key>
                <string>{86,134}</string>
            </dict>
            <key>MWD (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{548,144},{82,130}}</string>
                <key>offset</key>
                <string>{90,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,111},{82,130}}</string>
                <key>sourceSize</key>
                <string>{82,130}</string>
            </dict>
            <key>MWD (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{274,66},{76,132}}</string>
                <key>offset</key>
                <string>{91,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,112},{76,132}}</string>
                <key>sourceSize</key>
                <string>{76,132}</string>
            </dict>
            <key>MWD (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,144},{82,136}}</string>
                <key>offset</key>
                <string>{87,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,112},{82,136}}</string>
                <key>sourceSize</key>
                <string>{82,136}</string>
            </dict>
            <key>MWL (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,132}}</string>
                <key>offset</key>
                <string>{87,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,110},{62,132}}</string>
                <key>sourceSize</key>
                <string>{62,132}</string>
            </dict>
            <key>MWL (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{64,128}}</string>
                <key>offset</key>
                <string>{87,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,110},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>MWL (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{408,66},{76,132}}</string>
                <key>offset</key>
                <string>{87,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,111},{76,132}}</string>
                <key>sourceSize</key>
                <string>{76,132}</string>
            </dict>
            <key>MWL (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{62,136}}</string>
                <key>offset</key>
                <string>{88,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,110},{62,136}}</string>
                <key>sourceSize</key>
                <string>{62,136}</string>
            </dict>
            <key>MWL (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{64,136}}</string>
                <key>offset</key>
                <string>{86,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,110},{64,136}}</string>
                <key>sourceSize</key>
                <string>{64,136}</string>
            </dict>
            <key>MWL (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{64,136}}</string>
                <key>offset</key>
                <string>{87,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,110},{64,136}}</string>
                <key>sourceSize</key>
                <string>{64,136}</string>
            </dict>
            <key>MWL (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{542,66},{76,136}}</string>
                <key>offset</key>
                <string>{82,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,110},{76,136}}</string>
                <key>sourceSize</key>
                <string>{76,136}</string>
            </dict>
            <key>MWL (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{62,134}}</string>
                <key>offset</key>
                <string>{87,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,110},{62,134}}</string>
                <key>sourceSize</key>
                <string>{62,134}</string>
            </dict>
            <key>MWR (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{62,136}}</string>
                <key>offset</key>
                <string>{107,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,110},{62,136}}</string>
                <key>sourceSize</key>
                <string>{62,136}</string>
            </dict>
            <key>MWR (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{64,136}}</string>
                <key>offset</key>
                <string>{105,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,110},{64,136}}</string>
                <key>sourceSize</key>
                <string>{64,136}</string>
            </dict>
            <key>MWR (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,66},{76,134}}</string>
                <key>offset</key>
                <string>{96,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,111},{76,134}}</string>
                <key>sourceSize</key>
                <string>{76,134}</string>
            </dict>
            <key>MWR (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{62,134}}</string>
                <key>offset</key>
                <string>{107,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,110},{62,134}}</string>
                <key>sourceSize</key>
                <string>{62,134}</string>
            </dict>
            <key>MWR (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{62,132}}</string>
                <key>offset</key>
                <string>{107,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,110},{62,132}}</string>
                <key>sourceSize</key>
                <string>{62,132}</string>
            </dict>
            <key>MWR (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{64,128}}</string>
                <key>offset</key>
                <string>{105,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,110},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>MWR (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{816,66},{76,132}}</string>
                <key>offset</key>
                <string>{95,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,111},{76,132}}</string>
                <key>sourceSize</key>
                <string>{76,132}</string>
            </dict>
            <key>MWR (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{62,136}}</string>
                <key>offset</key>
                <string>{107,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,110},{62,136}}</string>
                <key>sourceSize</key>
                <string>{62,136}</string>
            </dict>
            <key>MWU (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{818,146},{84,132}}</string>
                <key>offset</key>
                <string>{89,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,109},{84,132}}</string>
                <key>sourceSize</key>
                <string>{84,132}</string>
            </dict>
            <key>MWU (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{278,144},{80,136}}</string>
                <key>offset</key>
                <string>{89,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,108},{80,136}}</string>
                <key>sourceSize</key>
                <string>{80,136}</string>
            </dict>
            <key>MWU (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{950,68},{76,134}}</string>
                <key>offset</key>
                <string>{89,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,108},{76,134}}</string>
                <key>sourceSize</key>
                <string>{76,134}</string>
            </dict>
            <key>MWU (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,68},{78,132}}</string>
                <key>offset</key>
                <string>{87,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,108},{78,132}}</string>
                <key>sourceSize</key>
                <string>{78,132}</string>
            </dict>
            <key>MWU (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{952,146},{84,132}}</string>
                <key>offset</key>
                <string>{83,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,109},{84,132}}</string>
                <key>sourceSize</key>
                <string>{84,132}</string>
            </dict>
            <key>MWU (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{78,134}}</string>
                <key>offset</key>
                <string>{88,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,108},{78,134}}</string>
                <key>sourceSize</key>
                <string>{78,134}</string>
            </dict>
            <key>MWU (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,68},{76,136}}</string>
                <key>offset</key>
                <string>{91,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,108},{76,136}}</string>
                <key>sourceSize</key>
                <string>{76,136}</string>
            </dict>
            <key>MWU (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,68},{80,130}}</string>
                <key>offset</key>
                <string>{90,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,108},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManWalk.png</string>
            <key>size</key>
            <string>{1492,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35feecf0eaf951e8b05e1ecde8150827:16334dca7d046cc60396969bcf62dc1e:788b2f1613133c784c77713345fd05a2$</string>
            <key>textureFileName</key>
            <string>ManWalk.png</string>
        </dict>
    </dict>
</plist>
