<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MWD (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{836,272},{170,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,266}}</string>
                <key>sourceSize</key>
                <string>{170,266}</string>
            </dict>
            <key>MWD (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2},{162,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,258}}</string>
                <key>sourceSize</key>
                <string>{162,258}</string>
            </dict>
            <key>MWD (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{152,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,264}}</string>
                <key>sourceSize</key>
                <string>{152,264}</string>
            </dict>
            <key>MWD (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,274}}</string>
                <key>sourceSize</key>
                <string>{158,274}</string>
            </dict>
            <key>MWD (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{170,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,266}}</string>
                <key>sourceSize</key>
                <string>{170,266}</string>
            </dict>
            <key>MWD (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,166},{162,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,258}}</string>
                <key>sourceSize</key>
                <string>{162,258}</string>
            </dict>
            <key>MWD (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,268},{154,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,264}}</string>
                <key>sourceSize</key>
                <string>{154,264}</string>
            </dict>
            <key>MWD (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{162,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,272}}</string>
                <key>sourceSize</key>
                <string>{162,272}</string>
            </dict>
            <key>MWL (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,536},{122,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,262}}</string>
                <key>sourceSize</key>
                <string>{122,262}</string>
            </dict>
            <key>MWL (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{550,546},{128,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,254}}</string>
                <key>sourceSize</key>
                <string>{128,254}</string>
            </dict>
            <key>MWL (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,268},{150,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,264}}</string>
                <key>sourceSize</key>
                <string>{150,264}</string>
            </dict>
            <key>MWL (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{582,274},{126,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,270}}</string>
                <key>sourceSize</key>
                <string>{126,270}</string>
            </dict>
            <key>MWL (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,550},{126,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,272}}</string>
                <key>sourceSize</key>
                <string>{126,272}</string>
            </dict>
            <key>MWL (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{298,276},{128,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,272}}</string>
                <key>sourceSize</key>
                <string>{128,272}</string>
            </dict>
            <key>MWL (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{152,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,272}}</string>
                <key>sourceSize</key>
                <string>{152,272}</string>
            </dict>
            <key>MWL (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{710,274},{124,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,268}}</string>
                <key>sourceSize</key>
                <string>{124,268}</string>
            </dict>
            <key>MWR (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{124,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,272}}</string>
                <key>sourceSize</key>
                <string>{124,272}</string>
            </dict>
            <key>MWR (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{166,276},{130,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,272}}</string>
                <key>sourceSize</key>
                <string>{130,272}</string>
            </dict>
            <key>MWR (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{150,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,270}}</string>
                <key>sourceSize</key>
                <string>{150,270}</string>
            </dict>
            <key>MWR (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{124,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,268}}</string>
                <key>sourceSize</key>
                <string>{124,268}</string>
            </dict>
            <key>MWR (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,538},{124,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,264}}</string>
                <key>sourceSize</key>
                <string>{124,264}</string>
            </dict>
            <key>MWR (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{806,544},{128,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,254}}</string>
                <key>sourceSize</key>
                <string>{128,254}</string>
            </dict>
            <key>MWR (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{150,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,264}}</string>
                <key>sourceSize</key>
                <string>{150,264}</string>
            </dict>
            <key>MWR (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{126,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,270}}</string>
                <key>sourceSize</key>
                <string>{126,270}</string>
            </dict>
            <key>MWU (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,270},{168,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,264}}</string>
                <key>sourceSize</key>
                <string>{168,264}</string>
            </dict>
            <key>MWU (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{158,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,270}}</string>
                <key>sourceSize</key>
                <string>{158,270}</string>
            </dict>
            <key>MWU (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{152,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,266}}</string>
                <key>sourceSize</key>
                <string>{152,266}</string>
            </dict>
            <key>MWU (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,330},{156,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,262}}</string>
                <key>sourceSize</key>
                <string>{156,262}</string>
            </dict>
            <key>MWU (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{168,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,264}}</string>
                <key>sourceSize</key>
                <string>{168,264}</string>
            </dict>
            <key>MWU (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,270},{156,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,266}}</string>
                <key>sourceSize</key>
                <string>{156,266}</string>
            </dict>
            <key>MWU (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{428,274},{152,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,270}}</string>
                <key>sourceSize</key>
                <string>{152,270}</string>
            </dict>
            <key>MWU (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,488},{158,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,258}}</string>
                <key>sourceSize</key>
                <string>{158,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManWalk.png</string>
            <key>size</key>
            <string>{1944,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9810db40fdd83a6bb41e6fa0e70d165:844fa53dca683f5642a73608b8f0069e:788b2f1613133c784c77713345fd05a2$</string>
            <key>textureFileName</key>
            <string>ManWalk.png</string>
        </dict>
    </dict>
</plist>
