<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ManWalkDown (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{162,260}}</string>
                <key>offset</key>
                <string>{-5,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,231},{162,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkDown (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{818,518},{156,254}}</string>
                <key>offset</key>
                <string>{-7,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,230},{156,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkDown (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{404,266},{148,258}}</string>
                <key>offset</key>
                <string>{-2,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,231},{148,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkDown (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,268}}</string>
                <key>offset</key>
                <string>{-1,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,231},{152,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkDown (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{264,794},{162,260}}</string>
                <key>offset</key>
                <string>{6,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,231},{162,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkDown (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{972,258},{156,252}}</string>
                <key>offset</key>
                <string>{7,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,230},{156,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkDown (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{148,258}}</string>
                <key>offset</key>
                <string>{2,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,231},{148,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkDown (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{154,266}}</string>
                <key>offset</key>
                <string>{1,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,231},{154,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkLeft (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{118,252}}</string>
                <key>offset</key>
                <string>{-19,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,232},{118,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkLeft (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,512},{120,246}}</string>
                <key>offset</key>
                <string>{-17,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,231},{120,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkLeft (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{554,262},{146,256}}</string>
                <key>offset</key>
                <string>{-6,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,231},{146,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkLeft (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{128,540},{122,262}}</string>
                <key>offset</key>
                <string>{-17,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,231},{122,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkLeft (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,530},{120,262}}</string>
                <key>offset</key>
                <string>{-19,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,232},{120,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkLeft (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{158,266},{122,262}}</string>
                <key>offset</key>
                <string>{-17,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,232},{122,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkLeft (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{148,262}}</string>
                <key>offset</key>
                <string>{-18,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,232},{148,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkLeft (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{702,260},{118,256}}</string>
                <key>offset</key>
                <string>{-19,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,232},{118,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkRight (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{282,266},{120,262}}</string>
                <key>offset</key>
                <string>{19,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,232},{120,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkRight (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{124,262}}</string>
                <key>offset</key>
                <string>{16,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,231},{124,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkRight (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{374,530},{144,260}}</string>
                <key>offset</key>
                <string>{12,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,232},{144,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkRight (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{118,256}}</string>
                <key>offset</key>
                <string>{19,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,232},{118,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkRight (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,256},{118,252}}</string>
                <key>offset</key>
                <string>{18,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,232},{118,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkRight (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{124,246}}</string>
                <key>offset</key>
                <string>{15,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,231},{124,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkRight (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{144,256}}</string>
                <key>offset</key>
                <string>{8,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,231},{144,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkRight (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{120,262}}</string>
                <key>offset</key>
                <string>{18,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,231},{120,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkUp (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{780,778},{160,250}}</string>
                <key>offset</key>
                <string>{6,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,233},{160,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkUp (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{520,526},{150,256}}</string>
                <key>offset</key>
                <string>{2,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,233},{150,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkUp (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{144,254}}</string>
                <key>offset</key>
                <string>{-2,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,232},{144,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkUp (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{976,512},{148,248}}</string>
                <key>offset</key>
                <string>{-4,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,233},{148,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkUp (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{526,784},{160,252}}</string>
                <key>offset</key>
                <string>{-6,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,232},{160,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkUp (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{822,260},{148,254}}</string>
                <key>offset</key>
                <string>{-1,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,232},{148,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkUp (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{672,520},{144,256}}</string>
                <key>offset</key>
                <string>{3,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,233},{144,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ManWalkUp (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,762},{152,246}}</string>
                <key>offset</key>
                <string>{4,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,233},{152,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ManWalk.png</string>
            <key>size</key>
            <string>{1250,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be893311765138ad810d734d694cefbf:f79376333d1137cc1c5e273578a85529:788b2f1613133c784c77713345fd05a2$</string>
            <key>textureFileName</key>
            <string>ManWalk.png</string>
        </dict>
    </dict>
</plist>
