<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MShok (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{260,330},{124,270}}</string>
                <key>offset</key>
                <string>{175,-222}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,222},{124,270}}</string>
                <key>sourceSize</key>
                <string>{124,270}</string>
            </dict>
            <key>MShok (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,254}}</string>
                <key>offset</key>
                <string>{86,-238}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,238},{204,254}}</string>
                <key>sourceSize</key>
                <string>{204,254}</string>
            </dict>
            <key>MShok (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{532,330},{124,260}}</string>
                <key>offset</key>
                <string>{167,-220}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,220},{124,260}}</string>
                <key>sourceSize</key>
                <string>{124,260}</string>
            </dict>
            <key>MShok (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{528,186},{142,262}}</string>
                <key>offset</key>
                <string>{130,-219}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,219},{142,262}}</string>
                <key>sourceSize</key>
                <string>{142,262}</string>
            </dict>
            <key>MShok (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{182,274}}</string>
                <key>offset</key>
                <string>{91,-218}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,218},{182,274}}</string>
                <key>sourceSize</key>
                <string>{182,274}</string>
            </dict>
            <key>MShok (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{260,186},{142,266}}</string>
                <key>offset</key>
                <string>{126,-226}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,226},{142,266}}</string>
                <key>sourceSize</key>
                <string>{142,266}</string>
            </dict>
            <key>MShok (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{794,178},{144,258}}</string>
                <key>offset</key>
                <string>{124,-234}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,234},{144,258}}</string>
                <key>sourceSize</key>
                <string>{144,258}</string>
            </dict>
            <key>MShok (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{164,256}}</string>
                <key>offset</key>
                <string>{104,-236}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,236},{164,256}}</string>
                <key>sourceSize</key>
                <string>{164,256}</string>
            </dict>
            <key>MShok (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{174,256}}</string>
                <key>offset</key>
                <string>{94,-236}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,236},{174,256}}</string>
                <key>sourceSize</key>
                <string>{174,256}</string>
            </dict>
            <key>MShok (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{182,254}}</string>
                <key>offset</key>
                <string>{86,-238}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,238},{182,254}}</string>
                <key>sourceSize</key>
                <string>{182,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shok.png</string>
            <key>size</key>
            <string>{1014,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fa5aee5ae7116edde60586433368ee0:bb3cae29946aa27880396fae6dfecb1f:caa4b7e63905d09657a919a2fe088c3b$</string>
            <key>textureFileName</key>
            <string>Shok.png</string>
        </dict>
    </dict>
</plist>
